body {
    padding: 20px;
}

.canvas-div {
    margin: 20px;
}

.row {
    margin: 30px;
}

.slider-number {
    width: 10% !important;
}

.slider-bar {
    width: 80% !important;
}

.title {
    font-size: 60px;
    text-align: center;
}

.clock-number {
    width: 30% !important;
}
