body {
    padding: 20px;
}

.canvas-div {
    margin: 20px;
}

.row {
    margin: 30px;
}

.slider-number {
    width: 15% !important;
    text-align: center;
}

.slider-bar {
    width: 75% !important;
}

.title {
    font-size: 60px;
    text-align: center;
}

.clock-number {
    width: 30% !important;
}

.full-width {
    width: 100%;
}

.frame-counter {
    width: 60px;
    text-align: center;
}
